.experiencia{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 80px auto 200px auto;
    gap: 100px;
    align-items: start;
    padding: 20px 40px;
}

.subtitulo{
    grid-row: 1 / 5;
    line-height: 0.95;
    font-size: 8rem;
    word-break: break-all;
    text-transform: uppercase;
    max-width: 4ch;
    color: #e0e0e0;
}

.experiencia_apresentacao{
    font-size: 1.5em;
    margin-bottom: -30px;
    max-width: 45ch;
    color: #525252;
}

.experiencia_empresa{
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: 1.6fr 1fr;
    margin-bottom: -80px;
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 5px;
}

.experiencia_empresa span{
    position: absolute;
    left: -60px;
    top: 20px;
    color: #525252;
    font-weight: bolder;
}

.experiencia_empresa h3, h4{
    grid-row: 1;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: black;
}

.experiencia_empresa p{
    max-width: 45ch;
    font-size: 1rem;
    color: #525252
}

.experiencia_empresa ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.experiencia_empresa ul li{
    display: inline-block;
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    height: 19px;
    font-size: 0.9rem;
}

.experiencia_empresa::before{
    content: "";
    position: absolute;
    display: block;
    background-image: linear-gradient(to bottom, #b3ff00, #31f700);
    width: 4px;
    height: 25px;
    top: 15px;
    left: -5px;
}

@media(max-width: 800px){
    .experiencia{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0px 20px;
        margin: 50px 0px;
    }
    .subtitulo{
        color: black;
        font-size: 3em;
        word-break: initial;
        text-transform: capitalize;
    }
    .experiencia_apresentacao{
        font-size: 1.3rem;
        max-width: 60ch;
        margin-bottom: 30px;
    }
    .experiencia_empresa{
        margin-bottom: 0px;
        gap: 10px;
    }
    .experiencia_empresa span{
        position: initial;
        order: 1;
    }
    .experiencia_empresa span::before{
        content: "Ano: ";
    }
}

@media(max-width: 700px){
    .experiencia{
        padding: 0px 50px;
    }
}

@media(max-width: 600px){
    .experiencia{
        margin: 30px 0px;
        padding-bottom: 30px;
    }
    .experiencia_empresa{
        grid-template-columns: 1fr;
    }
    .experiencia_empresa h3, h4{
        grid-row: initial;
        margin-bottom: 0px;
    }
    .experiencia_empresa h4{
        grid-row: 2;
        font-size: 1rem;
    }
    .experiencia_apresentacao{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .experiencia_empresa p{
        font-size: 1rem;
    }
}

@media(max-width: 430px){
    .experiencia{
        padding: 20px 20px;
        gap: 15px;
    }
    .subtitulo{
        font-size: 2rem;
    }
    .experiencia_apresentacao{
        font-size: 1.1rem;
        margin-bottom: 15px;
    }
    .experiencia_empresa span{
        font-size: 0.9rem;
    }
}

@media(max-width: 300px){
    .experiencia{
        padding: 10px;
    }
    .subtitulo{
        font-size: 1.7rem;
    }
 }